# Suricata Reference Configuration
# This file contains the reference configuration for Suricata rules

config reference: bugtraq http://www.securityfocus.com/bid/
config reference: cve http://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: nessus http://cgi.nessus.org/u?
config reference: arachnids http://www.whitehats.com/info/IDS
config reference: mcafee http://vil.nai.com/vil/content/v_
config reference: osvdb http://osvdb.org/show/osvdb/
config reference: msb http://www.microsoft.com/technet/security/bulletin/
config reference: nist http://nvd.nist.gov/nvd.cfm?cvename=
config reference: url http://
config reference: et http://doc.emergingthreats.net/
config reference: etpro http://doc.emergingthreatspro.com/
config reference: telus http://
config reference: nist http://web.nvd.nist.gov/view/vuln/detail?vulnId=